@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-text-secondary: theme(colors.gray.600);
  --clr-bg-gray: theme(colors.gray.100);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  @apply bg-black/90 hover:bg-black/100 cursor-pointer select-none text-white font-semibold capitalize p-2 rounded whitespace-nowrap px-5;
}

.img-outline-right,
.img-outline-left {
  position: relative;
}

.img-outline-right::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: -1;
  right: -10px;
  top: -10px;
}
.img-outline-left::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 6s ease-out;
}

@keyframes slide-in2 {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in2 {
  animation: slide-in2 6s ease-out;
}

.methodology-card {
  @apply relative bg-white rounded hover:shadow-md border col-span-11 sm:col-span-4 lg:col-span-4 flex flex-col gap-3 items-center py-16;
}
.methodology-card::before {
  @apply w-full block h-3 top-0 left-0 bg-black;
}

section > h1 {
  @apply font-bold text-2xl text-center;
}

.contact-card {
  @apply flex-1 p-3;
}

.contact-card:not(:last-child) {
  @apply border-b md:border-b-0 md:border-r border-[var(--clr-text-secondary)];
}

.contact-card-header {
  @apply flex items-center gap-2;
}
.contact-card-header h2 {
  @apply font-bold text-lg;
}
.contact-card > p:last-child {
  @apply text-lg font-medium;
}

.form-label {
  @apply block mt-3 capitalize;
}

.form-label::after {
  content: "*";
  @apply text-red-700;
}
.form-input {
  @apply outline-none border h-10 mt-3  px-3 w-full;
}

.error {
  @apply text-red-700 text-xs;
}

.section-title{
  @apply capitalize font-bold text-2xl
}
.section-subtitle{
  @apply font-bold text-xl capitalize
}
